/*动态marker图标*/
@keyframes ring_bound3 {
    from {
        left: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
    }
    to {
        left: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
    }
}

@keyframes ring_bound2 {
    from {
        left: 25px;
        top: 25px;
        width: 10px;
        height: 10px;
    }
    to {
        left: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
    }
}

.ring-point-marker {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
}
/* 红色光晕点 */
.red-ring-point-inner3 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff0000;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(255, 0, 0, 0.5));
    border: solid 1px rgba(255, 0, 0, 0.6);
    animation: ring_bound3 2s infinite linear;
    z-index: 3;
}
.red-ring-point-inner2 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff0000;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(255, 0, 0, 0.5));
    border: solid 1px rgba(255, 0, 0, 0.6);
    animation: ring_bound2 2s infinite linear;
    z-index: 3;
}
.red-ring-point-inner1 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff0000;
    background-image: radial-gradient(circle at center, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.3));
    z-index: 1;
}
/* 橙色光晕点 */
.orange-ring-point-inner3 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffa500;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(255, 165, 0, 0.5));
    border: solid 1px rgba(255, 165, 0, 0.6);
    animation: ring_bound3 2s infinite linear;
    z-index: 3;
}
.orange-ring-point-inner2 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffa500;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(255, 165, 0, 0.5));
    border: solid 1px rgba(255, 165, 0, 0.6);
    animation: ring_bound2 2s infinite linear;
    z-index: 3;
}
.orange-ring-point-inner1 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffa500;
    background-image: radial-gradient(circle at center, rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0.3));
    z-index: 1;
}
/* 绿色光晕点 */
.green-ring-point-inner3 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #0bf20b;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(11, 242, 11, 0.5));
    border: solid 1px rgba(11, 242, 11, 0.6);
    animation: ring_bound3 2s infinite linear;
    z-index: 3;
}
.green-ring-point-inner2 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #0bf20b;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(11, 242, 11, 0.5));
    border: solid 1px rgba(11, 242, 11, 0.6);
    animation: ring_bound2 2s infinite linear;
    z-index: 3;
}
.green-ring-point-inner1 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #0bf20b;
    background-image: radial-gradient(circle at center, rgba(11, 242, 11, 0.8), rgba(11, 242, 11, 0.3));
    z-index: 1;
}

/* 蓝色光晕点 */
.blue-ring-point-inner3 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #01c8ff;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(1, 200, 255, 0.5));
    border: solid 1px rgba(1, 200, 255, 0.6);
    animation: ring_bound3 2s infinite linear;
    z-index: 3;
}
.blue-ring-point-inner2 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #01c8ff;
    background-color: transparent;
    background-image: radial-gradient(circle at center, transparent, rgba(1, 200, 255, 0.5));
    border: solid 1px rgba(1, 200, 255, 0.6);
    animation: ring_bound2 2s infinite linear;
    z-index: 3;
}
.blue-ring-point-inner1 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #01c8ff;
    background-image: radial-gradient(circle at center, rgba(1, 200, 255, 0.8), rgba(1, 200, 255, 0.3));
    z-index: 1;
}


/*popup*/
.minemap-popup-content {
    padding: 5px 10px;
    max-width: 280px;
}

.popup-station-type {
    display: inline-block;
    margin-right: 7px;
    padding: 3px 7px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #007bffc9;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    flex-shrink: 0;
}

.popup-station-header {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.popup-station-count {
    display: block;
    font-size: .6rem;
    font-weight: 400;
    margin: 5px 0 0;
    padding: 0;
    color: #999;
}

.popup-station-list {
    display: inline-block;
    padding: 3px 7px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #95cf29;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
}


/*地图线路信息页面*/
.routeInfoWrapper {
    width: 300px;
    /*height: 600px;*/
    right: 20px;
    top: calc((100% - 300px)/2);
    position: absolute;
    background-color: rgba(25, 38, 52, 0.8);
    -moz-box-shadow: 2px 2px 5px #000000;
    -webkit-box-shadow: 2px 2px 5px #000000;
    box-shadow: 2px 2px 5px #000000;
    z-index: 199;
    color: white;
    display: none;
}

.routeInfoWrapper-title {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: 1rem;
    font-weight: bold;
}

.routeInfoWrapper-basic {
    font-size: 0.8rem;
    font-weight: bold;
    color: #999;
    margin: 5px auto;
    text-align: center;
}

.routeInfoWrapper-basic span:nth-child(1) {
    display: block;
}

.routeInfoWrapper-basic span:nth-child(2) {
    margin-right: 10px;
}

.routeInfoWrapper-index {
    margin: 20px auto;
}

.routeInfoWrapper-index-list {
    margin: 10px auto;
    width: 200px;
}

.routeInfoWrapper-index-list span {
    display: inline-block;
}

.routeInfoWrapper-index-list  span:nth-child(1) {
    font-size: 0.8rem;
    font-weight: bold;
    width: 120px;
}

.routeInfoWrapper-index-list  span:nth-child(2) {
    text-align: center;
    width: 50px;
    font-size: 1.3rem;
}

.routeInfoWrapper-index-list  span:nth-child(3) {
    width: 20px;
    font-size:  0.8rem;
}
